In [2]:
import pandas as pd

In [3]:
from movie.api.call import gen_url, call_api

In [12]:
ymd = "20120102"

In [13]:
data = call_api(dt=ymd)

In [14]:
df = pd.DataFrame(data)
df.head(3)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,1033680000,34.0,-1742380500,-62.8,41574788500,138853,-214421,-60.7,5467288,662,3009
1,2,2,1,OLD,20112621,셜록홈즈 : 그림자 게임,2011-12-21,494700500,16.3,-681322000,-57.9,11173028000,68111,-84893,-55.5,1510972,350,1728
2,3,3,-1,OLD,20110295,마이 웨이,2011-12-21,419655000,13.8,-769403500,-64.7,13422552500,58357,-95144,-62,1797900,574,2242

In [15]:
df['dt'] = ymd
df.head(3)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,1033680000,34.0,-1742380500,-62.8,41574788500,138853,-214421,-60.7,5467288,662,3009,20120102
1,2,2,1,OLD,20112621,셜록홈즈 : 그림자 게임,2011-12-21,494700500,16.3,-681322000,-57.9,11173028000,68111,-84893,-55.5,1510972,350,1728,20120102
2,3,3,-1,OLD,20110295,마이 웨이,2011-12-21,419655000,13.8,-769403500,-64.7,13422552500,58357,-95144,-62,1797900,574,2242,20120102

In [16]:
df.to_parquet('~/tmp/test_parquet', partition_cols=['dt'])

In [19]:
df = pd.read_parquet("~/tmp/test_parquet")
df.head(3)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,2776060500,36.3,-415699000,-13,40541108500,353274,-60106,-14.5,5328435,697,3223,20120101
1,2,2,1,OLD,20110295,마이 웨이,2011-12-21,1189058500,15.6,-105894500,-8.2,13002897500,153501,-16465,-9.7,1739543,588,2321,20120101
2,3,3,-1,OLD,20112621,셜록홈즈 : 그림자 게임,2011-12-21,1176022500,15.4,-210328500,-15.2,10678327500,153004,-31283,-17,1442861,360,1832,20120101

In [20]:
df['dt'].unique()

[20120101, 20120102]
Categories (2, int32): [20120101, 20120102]